/* my-restaurant-style.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
  .RO1 {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .logo {
    max-width: 150px;
  }
  
  .HI {
    color: #333;
    font-size: 32px;
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Main Section Styles */
  .RO2 {
    text-align: center;
    padding: 20px;
  }
  
  .main-article {
    font-size: 18px;
    color: #555;
  }
  
  .A,
  .B,
  .C {
    max-width: 200px; /* Adjust the width as needed */
    height: auto;
    display: inline-block;
    margin: 10px;
  }
  
  /* Menu Styles */
  .table {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  p.BASE,
  p.FAV,
  p.PRO,
  p.SAUCE {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  ul p {
    margin: 0;
    padding: 0;
  }
  
  li.BASE1,
  li.FAV1,
  li.PRO1,
  li.SAUCE1 {
    padding: 10px;
    background-color: #e9e9e9;
    margin-bottom: 10px;
  }
  
  /* Footer Styles */
  .RO3 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  